<!-- Please remove this file from your project -->
<template>
  <div>
    <button @click="handleLogin()" v-if="isLogin">login</button>
    <button>logout</button>
    <router-link to="/gamePlay">
      <button v-if="userInfo == null">Chơi</button>
    </router-link>
  </div>
</template>

<script>
export default {
  name: "dashboard",
  data() {
    return {
      isLogin: true,
      userInfo: null,
    };
  },
  methods: {
    handleLogin() {
      ClientOauthApp.Login();
      console.log("helooo");
    },
  },
};
</script>
